# Data Science & Machine learning

Professor: Leonardo Sápiras

E-mail: leonardosapiras@gmail.com

[www.leonardosapiras.com.br](https://www.leonardosapiras.com.br)


## Dia 1 - Python

### Sintaxe básica

#### Impressão de valores

Para impressão de valores utiliza-se a função `print()`

In [1]:
print("Olá OpServices")

Olá OpServices

#### Variáveis

Atribuição simples de variáveis

In [2]:
x = 10

In [3]:
x

10

In [4]:
print(x)

10

In [5]:
nome = "João"
sobrenome = "Silva"
print ("Nome completo:", nome, sobrenome)

Nome completo: João Silva

Atribuição de múltiplas variáveis

In [6]:
valor_1, valor_2 = 1, 2
print (valor_1)
print (valor_2)

1
2

#### Strings

In [7]:
frase_1 = "ola"
frase_2 = """ Olá, 
este é um textão
de várias linhas"""

print(frase_2)

 Olá,
este é um textão
de várias linhas

Tudo em maiúsculo

In [8]:
print(frase_2.upper())

 OLÁ,
ESTE É UM TEXTÃO
DE VÁRIAS LINHAS

Tudo em minúsculo

In [9]:
print(frase_2.lower())

 olá,
este é um textão
de várias linhas

Localizar e substituir

In [10]:
print(frase_2.replace("de", "DEEEEEEE"))

 Olá,
este é um textão
DEEEEEEE várias linhas

#### Operações matemáticas

Soma

In [11]:
y = x + 50
print (y)

60

Substração

In [12]:
print (y - 40)

20

In [13]:
print ("O valor de y é", y)

O valor de y é 60

### Tipos de dados

O Python permite utilizar os seguintes tipos de dados:
    
Texto:	str
Numéricos:	int, float, complex
Sequenciais (arrays):	list, tuple, range
Mapeamento:	dict
Conjuntos:	set, frozenset
Lógicos:	bool
Binários:	bytes, bytearray, memoryview
   
Para obter o tipo de uma variável, basta usar a função `type()`

In [14]:
valor = 10
type(valor)
valor = "valor"
type(valor)

str

#### Float

In [ ]:
valor = 10.232
print(valor)

#### Lista

Listas podem ser interpretadas também como arrays. Uma lista possui as seguintes funções:

append() - Adiciona um elemento no final da lista
clear() - Remove todos os elementos da lista
copy() - Retorna uma cópia da lista
count() - Retorna a quantidade de elementos da lista
extend() - Adiciona elementos de outra lista à uma lista
insert() - Adiciona um elemento em uma posição especificada
pop() - Remove um elemento de uma posição especificada
remove() - Remove o primeiro elemento de um valor especificado
index() - Retorna a posição do primeiro elemento de um valor especificado 
reverse() - Inverte uma lista
sort() - Ordena os valores de uma lista

In [ ]:
lista = ["primeiro", "segundo", "terceiro"]
type(lista)

In [ ]:
lista[0]

#### Tupla

In [ ]:
tupla = ("coluna 1", "coluna 2", "coluna 3")
type(tupla)

In [ ]:
tupla[0]

#### Mapeamento (Dicionário)

In [ ]:
dicionario = {"nome" : "João", "age" : 32}
type(dicionario)

In [ ]:
dicionario['nome']

#### Conjunto

In [ ]:
conjunto = {"Verde", "Vermelho", "Amarelo"}

In [ ]:
conjunto

#### Lógico

In [ ]:
valor = True
valor = False

#### Type cast

Type cast é a ação de converter um tipo em outro

In [ ]:
valor = 10.2332

In [ ]:
type(valor)

In [ ]:
valor_2 = int(valor)
valor_2

In [ ]:
type(valor_2)

In [ ]:
valor_3 = float(valor_2)
valor_3

In [ ]:
type(valor_3)

### Comentários

Comentário de uma linha

In [ ]:
# Comentário de linha
# Outro comentário

Comentários de múltiplas linhas

In [ ]:
"""
Este é um
GRANDEEEEEEEE
COMENTÁRIO
"""

### Estruturas de controle condicionais

In [ ]:
valor_1 = 10
valor_2 = 20


if (valor_1 > valor_2):
    print("valor_1 é maior do que valor_2")
elif (valor_1 == valor_2):
    print("valor_1 é igual ao valor_2")
else: 
    print("valor_2 é maior do que valor_1")

Utilizando o operador lógico OU

Utilizando o operador lógico AND

### Estrututuras de controle de repetição - laços - loops

#### while

Enquanto (while) uma lógica ser verdadeira, realiza um conjunto de instruções

In [ ]:
valor = 1
while (valor < 10):
    print(valor)
    valor += 1

#### for

Muito similar ao `while`, muda apenas a sintaxe

In [ ]:
for valor in range(1, 10):
    print(valor)

In [ ]:
lista = ["primeiro", "segundo", "terceiro"]
for valor in lista:
    print(valor)

In [ ]:
lista = ["primeiro", "segundo", "terceiro"]
for valor in lista:
    print(valor)
else:
    print("Terminou!!!")

### Funções

In [ ]:
def verifica_se_par(valor):
    if (valor % 2 == 0):
        return "Valor "+str(valor)+" é par"
    else:
        return "Valor "+str(valor)+" não é par"
    
valores = [1,2,3,4,5,6,7,8,9,10]

for valor in valores:
    print (verifica_se_par(valor))

#### Funções com parâmetros opcionais

É possível que determinado parâmetro seja opcional

In [ ]:
def escrever_nome_time(time = "Taquarense"):
    print(time)
    
escrever_nome_time("Cerâmica")
escrever_nome_time()
escrever_nome_time("Juventude")
escrever_nome_time("Internacional")
escrever_nome_time("Grêmio")

#### Funções que retornam multiplos valores (Tuplas)

O Python permite que uma função retorne uma tupla, ou seja, múltiplos valores. Em alguns casos isso é muito útil!!!

In [ ]:
def operacoes_matematicas(valor_1, valor_2):
    soma = valor_1 + valor_2
    subtracao = valor_1 - valor_2
    
    return soma, subtracao

soma, subtracao = operacoes_matematicas(2,3)
print (soma)
print (subtracao)

#### Funções anonimas - Lambda

Funções anônimas, também conhecidas como funções lambda, são funções que não possuem uma assinatura (nome).

Elas recebem um conjunto de parâmetros, e devem ter um única expressão.

São geralmente utilizadas para substituir funções que possuem uma única expressão.

In [ ]:
funcao_anonima = lambda parametro_1: str(parametro_1) + " %"
print (funcao_anonima(10))

In [ ]:
valor_eh_par = lambda parametro_1: parametro_1 % 2 == 0
print (valor_eh_par(10))

In [ ]:
concatena_valores = lambda parametro_1, parametro_2: str(parametro_1) + " " + str(parametro_2)
print (concatena_valores(10, 20))

### Orientação à objetos

In [ ]:
class Civic():
    portas = 4
    motor = 2.0
    ano = None
    proprietario = None
    km_rodados = 0
    
    def __init__(self, proprietario, ano):
        self.proprietario = proprietario
        self.ano = ano
        
    def dirigir(self, km):
        self.km_rodados += km
        
        
objeto_civic = Civic("Leonardo", 2019)
objeto_civic.dirigir(100)
objeto_civic.dirigir(50)

print(objeto_civic.km_rodados)

#### Herança

In [ ]:
class MeioDeTransporte():
    
    tipo = None
    
    def __init__(self):
        pass

        
class Carro(MeioDeTransporte):
    
    lugares = None
    
    def __init__(self):
        self.tipo = "Carro"

class Motocicleta(MeioDeTransporte):
    
    lugares = 2
    
    def __init__(self):
        self.tipo = "Motocicleta"

class Civic(Carro):
    portas = 4
    motor = 2.0
    ano = None
    proprietario = None
    km_rodados = 0
    
    def __init__(self, proprietario, ano):
        Carro.__init__(self)
        self.proprietario = proprietario
        self.ano = ano
        self.lugares = 5
        
        
    def dirigir(self, km):
        self.km_rodados += km
        
        
objeto_civic = Civic("Leonardo", 2019)
objeto_civic.dirigir(100)
objeto_civic.dirigir(50)

print(objeto_civic.km_rodados)
print(objeto_civic.lugares)
print(objeto_civic.tipo)

## Atividade prática

Para realizar essa atividade, crie uma classe Pessoa com os atributos abaixo:

- tipo -> "Física" ou "Jurídica"
- nome -> string
- identificador -> string para armazenar o CNPJ (caso seja pessoa física) ou CPF (caso seja pessoa jurídica)
- saldo -> float
- data de cadastro -> pesquisar :-)

### Crie uma lista com no mínimo 10 pessoas (físicas ou jurídicas)

### Apresente:

#### O valor total disponível nas contas correntes de clientes de um banco.

#### CNPJ com maior valor

#### CNPJ com menor valor

#### CPF com maior valor

#### CPF com menor valor

#### Média dos saldos de todas as contas;

#### Média dos saldos das pessoas físicas;

#### Média dos saldos das pessoas jurídicas;

#### Quantidade de clientes com saldo negativo

#### Saldo na conta do cliente mais antigo