# Data Science & Machine learning

Professor: Leonardo Sápiras

E-mail: leonardosapiras@gmail.com

[www.leonardosapiras.com.br](https://www.leonardosapiras.com.br)


## Dia 1 - Python

### Sintaxe básica

#### Impressão de valores

Para impressão de valores utiliza-se a função `print()`

In [1]:
print("Olá OpServices")

Olá OpServices

#### Variáveis

Atribuição simples de variáveis

In [3]:
x = 25

In [4]:
x

25

In [4]:
print(x)

10

In [5]:
nome = "João"
sobrenome = "Silva"
print ("Nome completo:", nome, sobrenome)

Nome completo: João Silva

Atribuição de múltiplas variáveis

In [6]:
valor_1, valor_2 = 1, 2
print (valor_1)
print (valor_2)

1
2

#### Strings

In [7]:
frase_1 = "ola"
frase_2 = """ Olá, 
este é um textão
de várias linhas"""

print(frase_2)

 Olá,
este é um textão
de várias linhas

Tudo em maiúsculo

In [8]:
print(frase_2.upper())

 OLÁ,
ESTE É UM TEXTÃO
DE VÁRIAS LINHAS

Tudo em minúsculo

In [9]:
print(frase_2.lower())

 olá,
este é um textão
de várias linhas

Localizar e substituir

In [10]:
print(frase_2.replace("de", "DEEEEEEE"))

 Olá,
este é um textão
DEEEEEEE várias linhas

#### Operações matemáticas

Soma

In [11]:
y = x + 50
print (y)

60

Substração

In [12]:
print (y - 40)

20

In [13]:
print ("O valor de y é", y)

O valor de y é 60

### Tipos de dados

O Python permite utilizar os seguintes tipos de dados:
    
Texto:	str
Numéricos:	int, float, complex
Sequenciais (arrays):	list, tuple, range
Mapeamento:	dict
Conjuntos:	set, frozenset
Lógicos:	bool
Binários:	bytes, bytearray, memoryview
   
Para obter o tipo de uma variável, basta usar a função `type()`

In [16]:
valor = 10
type(valor)
valor = "valor"
type(valor)

str

#### Float

In [17]:
valor = 10.232
print(valor)

10.232

#### Lista

Listas podem ser interpretadas também como arrays. Uma lista possui as seguintes funções:

append() - Adiciona um elemento no final da lista
clear() - Remove todos os elementos da lista
copy() - Retorna uma cópia da lista
count() - Retorna a quantidade de elementos da lista
extend() - Adiciona elementos de outra lista à uma lista
insert() - Adiciona um elemento em uma posição especificada
pop() - Remove um elemento de uma posição especificada
remove() - Remove o primeiro elemento de um valor especificado
index() - Retorna a posição do primeiro elemento de um valor especificado 
reverse() - Inverte uma lista
sort() - Ordena os valores de uma lista

In [18]:
lista = ["primeiro", "segundo", "terceiro"]
type(lista)

list

In [ ]:
lista[0]

#### Tupla

In [19]:
tupla = ("coluna 1", "coluna 2", "coluna 3")
type(tupla)

tuple

In [ ]:
tupla[0]

#### Mapeamento (Dicionário)

In [5]:
dicionario = {"nome" : "João", "age" : 32}
type(dicionario)

dict

In [6]:
dicionario['nome']

'João'

#### Conjunto

In [7]:
conjunto = {"Verde", "Vermelho", "Amarelo", "Laranja"}

In [8]:
type(conjunto)

set

#### Lógico

In [24]:
valor = True
valor = False

#### Type cast

Type cast é a ação de converter um tipo em outro

In [25]:
valor = 10.2332

In [26]:
type(valor)

float

In [27]:
valor_2 = int(valor)
valor_2

10

In [28]:
type(valor_2)

int

In [29]:
valor_3 = float(valor_2)
valor_3

10.0

In [30]:
type(valor_3)

float

### Comentários

Comentário de uma linha

In [ ]:
# Comentário de linha
# Outro comentário

Comentários de múltiplas linhas

In [ ]:
"""
Este é um
GRANDEEEEEEEE
COMENTÁRIO
"""

### Estruturas de controle condicionais

In [ ]:
valor_1 = 10
valor_2 = 20


if (valor_1 > valor_2):
    print("valor_1 é maior do que valor_2")
elif (valor_1 == valor_2):
    print("valor_1 é igual ao valor_2")
else: 
    print("valor_2 é maior do que valor_1")

Utilizando o operador lógico OU

Utilizando o operador lógico AND

### Estrututuras de controle de repetição - laços - loops

#### while

Enquanto (while) uma lógica ser verdadeira, realiza um conjunto de instruções

In [31]:
valor = 1
while (valor < 10):
    print(valor)
    valor += 1

1
2
3
4
5
6
7
8
9

#### for

Muito similar ao `while`, muda apenas a sintaxe

In [32]:
for valor in range(1, 10):
    print(valor)

1
2
3
4
5
6
7
8
9

In [9]:
lista = ["primeiro", "segundo", "terceiro", "Quarto", "Quinto", "Sexto"]
for valor in lista:
    print(valor)

primeiro
segundo
terceiro
Quarto
Quinto
Sexto

In [10]:
lista = ["primeiro", "segundo", "terceiro", "Quarto", "Quinto", "Sexto"]
for valor in lista:
    print(valor)
else:
    print("Terminou!!!")

primeiro
segundo
terceiro
Quarto
Quinto
Sexto
Terminou!!!

### Funções

In [11]:
def verifica_se_par(valor):
    if (valor % 2 == 0):
        return "Valor "+str(valor)+" é par"
    else:
        return "Valor "+str(valor)+" não é par"
    
valores = [1,2,3,4,5,6,7,8,9,10,11,12]

for valor in valores:
    print (verifica_se_par(valor))

Valor 1 não é par
Valor 2 é par
Valor 3 não é par
Valor 4 é par
Valor 5 não é par
Valor 6 é par
Valor 7 não é par
Valor 8 é par
Valor 9 não é par
Valor 10 é par
Valor 11 não é par
Valor 12 é par

#### Funções com parâmetros opcionais

É possível que determinado parâmetro seja opcional

In [36]:
def escrever_nome_time(time = "Taquarense"):
    print(time)
    
escrever_nome_time("Cerâmica")
escrever_nome_time()
escrever_nome_time("Juventude")
escrever_nome_time("Internacional")
escrever_nome_time("Grêmio")

Cerâmica
Taquarense
Juventude
Internacional
Grêmio

#### Funções que retornam multiplos valores (Tuplas)

O Python permite que uma função retorne uma tupla, ou seja, múltiplos valores. Em alguns casos isso é muito útil!!!

In [37]:
def operacoes_matematicas(valor_1, valor_2):
    soma = valor_1 + valor_2
    subtracao = valor_1 - valor_2
    
    return soma, subtracao

soma, subtracao = operacoes_matematicas(2,3)
print (soma)
print (subtracao)

5
-1

#### Funções anonimas - Lambda

Funções anônimas, também conhecidas como funções lambda, são funções que não possuem uma assinatura (nome).

Elas recebem um conjunto de parâmetros, e devem ter um única expressão.

São geralmente utilizadas para substituir funções que possuem uma única expressão.

In [38]:
funcao_anonima = lambda parametro_1: str(parametro_1) + " %"
print (funcao_anonima(10))

10 %

In [39]:
valor_eh_par = lambda parametro_1: parametro_1 % 2 == 0
print (valor_eh_par(10))

True

In [40]:
concatena_valores = lambda parametro_1, parametro_2: str(parametro_1) + " " + str(parametro_2)
print (concatena_valores(10, 20))

10 20

### Orientação à objetos

In [24]:
class Civic():
    portas = 4
    motor = 2.0
    ano = None
    proprietario = None
    km_rodados = 0
    
    def __init__(self, proprietario, ano):
        self.proprietario = proprietario
        self.ano = ano
        
    def dirigir(self, km):
        self.km_rodados += km
    
    def nomeProprietario(self):
        return self.proprietario
        
        
objeto_civic = Civic("Leonardo", 2019)
print("Nome proprietario: " + objeto_civic.nomeProprietario())
objeto_civic.dirigir(100)
objeto_civic.dirigir(50)

objeto_civic1 = Civic("Anderson", 2004)

print("Nome proprietario: " + objeto_civic1.nomeProprietario())

objeto_civic1.dirigir(20)
print(objeto_civic1.km_rodados)

objeto_civic1.dirigir(30)
print(objeto_civic1.km_rodados)

Nome proprietario: Leonardo
Nome proprietario: Anderson
20
50

#### Herança

In [20]:
class MeioDeTransporte():
    
    tipo = None
    
    def __init__(self):
        pass

        
class Carro(MeioDeTransporte):
    
    lugares = None
    
    def __init__(self):
        self.tipo = "Carro"

class Motocicleta(MeioDeTransporte):
    
    lugares = 2
    
    def __init__(self):
        self.tipo = "Motocicleta"

class Civic(Carro):
    portas = 4
    motor = 2.0
    ano = None
    proprietario = None
    km_rodados = 0
    
    def __init__(self, proprietario, ano):
        Carro.__init__(self)
        self.proprietario = proprietario
        self.ano = ano
        self.lugares = 5
        
        
    def dirigir(self, km):
        self.km_rodados += km
        
        
objeto_civic = Civic("Leonardo", 2019)
objeto_civic.dirigir(100)
objeto_civic.dirigir(50)

print(objeto_civic.km_rodados)
print(objeto_civic.lugares)
print(objeto_civic.tipo)

150
5
Carro

## Atividade prática

Para realizar essa atividade, crie uma classe Pessoa com os atributos abaixo:

- tipo -> "Física" ou "Jurídica"
- nome -> string
- identificador -> string para armazenar o CNPJ (caso seja pessoa física) ou CPF (caso seja pessoa jurídica)
- saldo -> float
- data de cadastro -> pesquisar :-)

In [43]:
from datetime import date
class Pessoa():
    
    tipo          = None
    nome          = None
    identificador = None
    saldo         = None
    dataCadastro  = None
    
    def __init__(self, pTipo, pNome, pIdentificador, pSaldo, pDataCadastro = date.today()):
        self.tipo          = pTipo
        self.nome          = pNome
        self.identificador = pIdentificador
        self.saldo         = pSaldo
        self.dataCadastro  = pDataCadastro

### Crie uma lista com no mínimo 10 pessoas (físicas ou jurídicas)

In [81]:
listaPessoas = [Pessoa("PF","Ana",49845750058,10, date(2019, 9, 28)), 
                Pessoa("PF","Pedro",59845750059,5),
                Pessoa("PF","Joao",59845750060,13, date(2019, 9, 27)),
                Pessoa("PJ","IBM",59845750061,3),
                Pessoa("PJ","HP",59845750062,4),
                Pessoa("PF","Maria",59845750057,11, date(2019, 9, 26)),
                Pessoa("PJ","Dell",59845750056,15),
                Pessoa("PF","Jose",59845750055,-7, date(2019, 9, 25)),
               ]

### Apresente:

#### O valor total disponível nas contas correntes de clientes de um banco.

In [62]:
valorTotal = 0
for pessoa in listaPessoas:
    valorTotal += pessoa.saldo
else:
    print("Terminou!!!")
    
print("Valor total: " + str(valorTotal))

Terminou!!!
Valor total: 60

#### CNPJ com maior valor

In [66]:
maiorValorCNPJ = -1
for pessoa in listaPessoas:
    if (pessoa.saldo > maiorValorCNPJ and pessoa.tipo == "PJ"):
        maiorValorCNPJ = pessoa.saldo

print("CNPJ com maior valor: " + str(maiorValorCNPJ))

CNPJ com maior valor: 15

#### CNPJ com menor valor

In [69]:
menorValorCNPJ = 10000
for pessoa in listaPessoas:
    if (pessoa.saldo < menorValorCNPJ and pessoa.tipo == "PJ"):
        menorValorCNPJ = pessoa.saldo

print("CNPJ com menor valor: " + str(menorValorCNPJ))

CNPJ com menor valor: 3

#### CPF com maior valor

In [70]:
maiorValorCPF = -1
for pessoa in listaPessoas:
    if (pessoa.saldo > maiorValorCPF and pessoa.tipo == "PF"):
        maiorValorCPF = pessoa.saldo

print("CPF com maior valor: " + str(maiorValorCPF))

CPF com maior valor: 11

#### CPF com menor valor

In [ ]:
menorValorCPF = 10000
for pessoa in listaPessoas:
    if (pessoa.saldo < menorValorCPF and pessoa.tipo == "PF"):
        menorValorCPF = pessoa.saldo

print("CPF com menor valor: " + str(menorValorCPF))

#### Média dos saldos de todas as contas;

In [73]:
valorTotal = 0
for pessoa in listaPessoas:
    valorTotal += pessoa.saldo
else:
    print("Terminou!!!")
    
print("Média dos saldos de todas as contas: " + str(valorTotal / len(listaPessoas)))

Terminou!!!
Média dos saldos de todas as contas: 7.875

#### Média dos saldos das pessoas físicas;

In [74]:
valorTotal = 0
for pessoa in listaPessoas:
    if (pessoa.tipo == "PF"):
        valorTotal += pessoa.saldo
    
print("Média dos saldos das pessoas físicas: " + str(valorTotal / len(listaPessoas)))

Média dos saldos das pessoas físicas: 5.125

#### Média dos saldos das pessoas jurídicas;

In [75]:
valorTotal = 0
for pessoa in listaPessoas:
    if (pessoa.tipo == "PJ"):
        valorTotal += pessoa.saldo
    
print("Média dos saldos das pessoas jurídicas: " + str(valorTotal / len(listaPessoas)))

Média dos saldos das pessoas jurídicas: 2.75

#### Quantidade de clientes com saldo negativo

In [78]:
qtdClientesSaldoNegativo = 0
for pessoa in listaPessoas:
    if (pessoa.saldo < 0):
        qtdClientesSaldoNegativo += 1
    
print("Quantidade de clientes com saldo negativo: " + str(qtdClientesSaldoNegativo))

Quantidade de clientes com saldo negativo: 1

#### Saldo na conta do cliente mais antigo

In [82]:
cliMaisAntigo = date(2099, 12, 31)
saldoCliMaisAntigo = 0
for pessoa in listaPessoas:
    if (pessoa.dataCadastro < cliMaisAntigo):
        cliMaisAntigo      = pessoa.dataCadastro
        saldoCliMaisAntigo = pessoa.saldo

print("Saldo na conta do cliente mais antigo: " + str(saldoCliMaisAntigo))

Saldo na conta do cliente mais antigo: -7